<!DOCTYPE html>
<html>
<head>
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 50px;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Lista de Alunos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Período de Ingresso</th>
                    <th>Nota - Web Avançado</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.periodo_ingresso }}</td>
                    <td>{{ aluno.nota_web }}</td>
                    <td>{{ aluno.situacao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-container">
        <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
